.personalDetailForm{
    text-align: center;
    justify-content: center;
    margin: 20px 15px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #eee8fc;
}

.formComponents{
    padding: 2% 3%;
    text-align: left;
}

.form-control:focus {
    border-color: #5927E5;
    box-shadow: 0 0 0 0.2rem rgba(89, 39, 229, 0.25);
}

.form-label{
    font-size: 1.2rem;
    font-weight: 700;
}

.imageDisplay{
    display: flex;
    
}
#userImg{
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.displayImage{
    width: 120px;
    height: 150px;
    justify-content: center;
    text-align: center;
    border: 2px solid #020202;
    background-color:  rgba(89, 39, 229, 0.25);
    border-radius: 15px;
    margin-right: 15px;
}

.inputImage{
    align-items: right;
    margin-left: 50px;
    width: 60%;
}

.inputImage input{
    margin-top: 16px;
}

.personalformRow{
    margin: 0;
    align-items: left;
}

.personalformRow col{
    padding: 0;
}

.form-group {
    display: flex;
    align-items: center; /* Align items vertically */
}

.form-label {
    margin-right: 10px; /* Adjust spacing between label and div */
}

.form-text{
    display: flex; 
}


.radioInput{
    display: flex; 
}

.form-check-label{
    margin-right: 20px;

}

.saveBtn{
    background-color: #5927E5;
    color: white;
    font-weight: 600;
}

.saveBtn:hover{
    background-color: white;
    color: #5927E5;
    border: 2px solid #5927E5;
}