.footerContainer{
    background-color: #003c78;
}

#footerContainer{
    background-color: #003c78;
}

.container{
    text-align: center;
    justify-content: center;
}

.footerLinks{
    text-decoration: none;
    color: #fff;
}

.footerLinks:hover{
    text-decoration: underline;
    color: #9b7cf0;
}

.copyRight{
    color: #fff;
}