/* Top section */

.headerContainer{
    margin: 10px 2px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.topcontainer{
    justify-content: center;    
    text-align: center; 
}
.dbatuLogo{
    width: 100px;
    margin-right: 5px ;
}

.Title{
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.Title p{
    margin-bottom: 2px;
}

@media screen and (max-width: 600px) {
    .headerContainer{
        display: block;
    }
  }


.clgName{
    font-size: 1.3rem;
    font-style: bold;
    font-weight: 1000;
}

.clgSiteTitle{
    font-size: 1.3rem;
    font-size: bold;
    font-weight: 600;
}



/* Navbar section css */

.navbar{
    background-color: #dcd1fa;
}

.navBtn{
    font-weight: 500;

    margin: 2px 5px;
    border-radius:5px ;
}

.navBtn:hover{
    color: rgb(255, 0, 0);
}

.navBtn:focus{
    text-decoration: underline;
}