/* Top section */
header{
    background-color: #fff;
}

.headerContainer{
    background-color: #fff;
    margin: 10px 2px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.topcontainer{
    justify-content: center;    
    text-align: center; 
}
.dbatuLogo{
    width: 100px;
    margin-right: 5px ;
}

.Title{
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.Title p{
    margin-bottom: 2px;
}

@media screen and (max-width: 600px) {
    .headerContainer{
        display: block;
    }
  }


.clgName{
    font-size: 1.3rem;
    font-style: bold;
    font-weight: 1000;
}

.clgSiteTitle{
    font-size: 1.3rem;
    font-size: bold;
    font-weight: 600;
}



/* Navbar section css */

.navbar{
    background-color: #003c78;
}

.navbar .navbar-brand{
    color: #fff;
}

.navbar .navbar-brand:hover{
    color: #fff;
}

.navbar-nav.navBtn{
    color: white;
    font-weight: 500;
    margin: 2px 5px;
    border-radius:5px ;
    text-decoration: none;
}

.navBtn:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.navBtn:focus{
    text-decoration: underline;
}

.userImg{
    background-color: white;
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    margin-top: 9%;
    margin-right: 20px;
}
.userImgFlex{
    display: flex;
}
