
.AchievementForm{
    text-align: center;
    justify-content: center;
    margin: 20px 15px;
    border-radius: 15px;
    border: 1px solid black;
}

@media screen and (min-width: 900px){
    .AchievementForm{
        margin: 20px 200px;
    }

}

.form-label{
    font-size: 1.2rem;
    font-weight: 700;
}

.formComponents{
    padding: 2% 3%;
    text-align: left;
}

#tabName{
    display: inline-block;
    padding: 0% 5%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f7f4ff;
    font-weight: 1000;
}

.form-group{
    justify-content: right;
    padding: 15px;
}

.addBtn{
    background-color: rgb(88, 194, 82);

}

.projectHeading{
    text-align: center;
}

.projectHeading h2{
    font-weight: 700;
}


.saveBtn{
    background-color: #003c78;
    color: white;
    font-weight: 600;
}

.saveBtn:hover{
    background-color: white;
    color: #003c78;
    border: 2px solid #003c78;
}

