.container {
  background-color: rgb(255, 255, 255);

}
.row{
  justify-content: center;
  padding: 3px;
  margin: 10px;
}
.col1{
  border-radius: 10px;
  margin: 10px;
  background-color: #dcd1fa;
}
.col2{
  border-radius: 10px;
  margin: 10px;
  background-color: #dcd1fa;
}
.col3{
  border-radius: 10px;
  margin: 10px;
  background-color: #dcd1fa;
}
.department-link {
  text-decoration: none;
}

.department-card {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}

.department-card:hover {
  background-color:  #dcd1fa;
}

.department-card p {
  color: #007bff;
  font-weight: bold;
  text-align: center;
}

.custom-image {
  margin-top: 14px;
  width: 100%;
  height: 300px;
  border-radius: 0.25rem;
}

.custom-title {
  font-size: 1.875rem;
  font-weight: bold;
  color: #374151;
}

.custom-text {
  color: #374151;
}

.custom-subtitle {
  font-size: 1.25rem;
  font-weight: bold;
}
.btn-primary{
  width: 300px;
  margin-bottom: 10px;
  background-color:  #4d4dff;
  border-radius: 10px;
  border: 2px solid #000000;
}

.btn-primary:hover {
  background-color:  #dcd1fa;
color: #000000;
border: 2px solid #000000;
}


.custom-section {
  border-radius: 0.5rem;
  padding: 2rem;
  overflow: hidden;
}



.custom-title {
  font-size: 2rem;
  font-weight: bold;
  color: #374151;
}

.custom-list {
  padding-left: 2px;
  margin-top: 20px;
  justify-items: left;
  text-align: left;
}
.custom-list a{
  text-decoration: none;
}
.Explore{

}