.educationalDetailForm{
    text-align: center;
    justify-content: center;
    margin: 20px 15px;
    border-radius: 15px;
    /* background-color: #fff; */
}
@media screen and (min-width: 900px){
    .educationalDetailForm{
        margin: 20px 200px;
    }

}

.form{
    padding: 2% 3%;
    text-align: center;
}

.row{
    text-align: left;
}

.thesisInputs{
    min-width: 350px;
}

.passingYearMonthDiv{

    display: flex;
}

.passingYNM{
    width: 25%;
    margin-right: 25px;
}

.inlineRow{
    display: flex;
}

.inlineCol{
    margin-right: 50px;
}

#tabName{
    display: inline-block;
    padding: 0% 5%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f7f4ff;
    font-weight: 1000;
}

.From{
    margin: 5px 0px;
    border: 1px solid black;
    border-radius: 5px;
}

.nextBtn:hover{
    background-color: white;
}